body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./backgrd.jpg');
  background-size: auto;
  background-repeat: repeat-x;
  background-position-x: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.I-Pod
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 600px;
    position: absolute;
    top: 55px;
    border-radius: 35px;
    left: 65%;
    background: #c02425;
    border:2.5px dotted antiquewhite;
    -webkit-box-reflect: below -1px -webkit-gradient(linear, right top, right bottom, from(transparent), to(rgba(255, 255, 255, 0.4)));
}

.I-Pod .screen{
  border-radius: 20px;
  border: 3.5px solid #424242;
  height: 235px;
  width: 92%;
  margin-bottom: 25px;
  position: relative;
  background-image: url('./smallScreenBkgd.jpg');
  background-size: cover;
  background-position-y: center;
  opacity: 0.9;
  overflow: hidden;
}


.I-Pod .screen .home-button
{
  border: none;
  background: #894969;
  position: absolute;
  right: 25px;
  top: 14px;
  border-radius: 50%;
  height: 35px;
  cursor: pointer;
}

.I-Pod .screen .home-button svg
{
  font-size: 22px;
  color:powderblue;
}

.I-Pod .screen .home-button:focus
{
  outline: none;
}

.I-Pod .screen .small-screen{
  position: absolute;
  border: 1px solid #e9baba;
  width: 140px;
  height: 99.2%;
  background: #e9baba;
  border-radius: 15.8px 0px 0px 15.8px;
  left:-145px;
}

.I-Pod .screen .small-screen .instruct
{
  font-size: 13px;
  text-align: center;
  margin-top: 10px;
  word-spacing: 2px;
  color: #0a474e;
  font-variant: common-ligatures;
}


@keyframes highlighting {

  0%{
    color: orange;
  }

  50%
  {
    color: orangered;
  }

  100%{
    color: blue;
  }
  
}

.I-Pod .screen .small-screen .instruct q
{
  margin-right: 3px;
}

.menuToggle
{
    animation: sliding-f 0.2s 0.12s ease-in-out forwards;
}

@keyframes sliding-f {

  0%{
    left: -145px;
  }
  50%{
    left: -55px;
  }

  100%{
    left: -0.5px;
  }
  
}

.menuToggle2
{
    animation: sliding-b 0.2s 0.12s forwards;
}

@keyframes sliding-b {

  0%{
    left: -0.5px;
  }
  50%{
    left: -55px;
  }

  100%{
    left: -145px;
  }
  
}

.game-screen,.music-screen,.setting-screen,.coverflow-screen
{
  height: inherit;
  margin-top: -10px;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  font-style: oblique;
  background: linear-gradient(
    180deg
    ,antiquewhite, lightpink);
}


.game-title,.music-title,.setting-title,.coverflow-title
{
  color:darkslategrey;
  display: block;
  margin-top: 50px;
}

.game-icons,.music-icons,.setting-icons,.coverflow-icons
{
    display: flex;
    justify-content: space-around;
    width: 135px;
    margin: auto;
}

.game-icons svg,.music-icons svg
{
   font-size: 30px;
   color:darkslateblue;
}

.setting-icons svg,.coverflow-icons svg
{
  font-size: 45px;
  color: darkslateblue;
}


.songs-screen
{
  height: inherit;
  background: coral;
  margin-top: -21px;
}

.songs-title
{
  text-align: center;
  display: block;
  padding-top: 15px;
  color:navy;
  font-variant-caps: small-caps;
}

.songs-list
{
  height: 115px;
  text-align: center;
  width: 260px;
  display: flex;
  flex-direction: column;
  margin: -5px auto 0px;
  box-sizing: border-box;
}

.songs-list li 
{
  list-style: none;
  padding: 2px;
  border-bottom: 2px solid rosybrown;
  background: wheat;
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
}







.I-Pod .screen .small-screen .title
{
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    display: block;
    margin-bottom: 15px;
    margin-top: 12px;
}

.I-Pod .screen .small-screen .list-items
{
  display: flex;
  flex-direction: column;
  margin-top: 22px;
}

.I-Pod .screen .small-screen .list-items button
{
    padding: 5px;
    padding-left: 20px;
    list-style: none;
    font-size: 14px;
    color: sienna;
    font-weight: 550;
    background: lightcyan;
    border: none;
    cursor: pointer;
    height: 30px;
    display: flex;
}

.selected
{
  background:#8181cd !important;
}

.I-Pod .screen .small-screen .list-items button:focus
{
  outline: none;
}

.I-Pod .button-set
{
  width: 290px;
  height: 252px;
  border-radius: 50%;
  background:radial-gradient(circle at -100px -100px,darkslategrey,#170d0d);
  position: relative;
}

.I-Pod .button-set button
{
  cursor: pointer;
  background: transparent;
  border: none;
}

.I-Pod .button-set button:focus
{
  outline: none;
}

.I-Pod .button-set .inner-circle
{
    position: absolute;
    top: 2.1%;
    left: 3%;
    height: 245px;
    width: 275px;
    transform: scale(0.4);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: block;
    margin: 0;
    background: radial-gradient(circle at 100px 100px,#af1741 , #000);
  
}

.I-Pod .button-set .inner-circle:focus
{
  outline: none;
}

.I-Pod .button-set .button-set-text
{
  color:silver;
}

.I-Pod .button-set .button-set-text svg
{
    font-size: 26px;
    text-transform: uppercase;
    font-family: ui-serif;
    color: inherit;
}

.I-Pod .button-set .menu
{
  position: absolute;
  color: #bdbdbd;
  font-weight: 550;
  left: 38.65%;
  top: 14%;
  font-size: 22px;
  font-family: math;
  text-transform: uppercase;
}

.I-Pod .button-set .forward{
  position: absolute;
  top: 44%;
  left: 79%;
  opacity: 0.6;
}

.I-Pod .button-set .backward{
    position: absolute;
    top: 43%;
    left: 10%;
    opacity: 0.6;
}

.I-Pod .button-set .play{
  position: absolute;
  top: 79.5%;
  left: 43%;
  opacity: 0.6;
}

.I-Pod .button-set .play svg
{
  font-size: 19px;
  margin-right: 5px;
}


.spkl
{
  color:#fff59d !important;
}

.songs-highlight
{
  color: teal;
}

